/**
* Text colors are used for text, links, and other elements.
* @author Thomas Cardon
*/
.text-transparent {
  color: transparent;
}

.text-current {
  color: currentColor;
}

.text-black {
  --bg-opacity: 1;
  color: rgba(0, 0, 0, var(--bg-opacity));
}

.text-white {
  --bg-opacity: 1;
  color: rgba(255, 255, 255, var(--bg-opacity));
}

.text-gray-less {
  --bg-opacity: 1;
  color: rgba(249, 250, 251, var(--bg-opacity));
}

.text-gray-1 {
  --bg-opacity: 1;
  color: rgba(243, 244, 246, var(--bg-opacity));
}

.text-gray-2 {
  --bg-opacity: 1;
  color: rgba(229, 231, 235, var(--bg-opacity));
}

.text-gray-3 {
  --bg-opacity: 1;
  color: rgba(209, 213, 219, var(--bg-opacity));
}

.text-gray-4 {
  --bg-opacity: 1;
  color: rgba(156, 163, 175, var(--bg-opacity));
}

.text-gray-5 {
  --bg-opacity: 1;
  color: rgba(107, 114, 128, var(--bg-opacity));
}

.text-gray-6 {
  --bg-opacity: 1;
  color: rgba(75, 85, 99, var(--bg-opacity));
}

.text-gray-7 {
  --bg-opacity: 1;
  color: rgba(55, 65, 81, var(--bg-opacity));
}

.text-gray-8 {
  --bg-opacity: 1;
  color: rgba(31, 41, 55, var(--bg-opacity));
}

.text-gray-9 {
  --bg-opacity: 1;
  color: rgba(17, 24, 39, var(--bg-opacity));
}

.text-red-less {
  --bg-opacity: 1;
  color: rgba(254, 242, 242, var(--bg-opacity));
}

.text-red-1 {
  --bg-opacity: 1;
  color: rgba(254, 226, 226, var(--bg-opacity));
}

.text-red-2 {
  --bg-opacity: 1;
  color: rgba(254, 202, 202, var(--bg-opacity));
}

.text-red-3 {
  --bg-opacity: 1;
  color: rgba(252, 165, 165, var(--bg-opacity));
}

.text-red-4 {
  --bg-opacity: 1;
  color: rgba(248, 113, 113, var(--bg-opacity));
}

.text-red-5 {
  --bg-opacity: 1;
  color: rgba(239, 68, 68, var(--bg-opacity));
}

.text-red-6 {
  --bg-opacity: 1;
  color: rgba(220, 38, 38, var(--bg-opacity));
}

.text-red-7 {
  --bg-opacity: 1;
  color: rgba(185, 28, 28, var(--bg-opacity));
}

.text-red-8 {
  --bg-opacity: 1;
  color: rgba(153, 27, 27, var(--bg-opacity));
}

.text-red-9 {
  --bg-opacity: 1;
  color: rgba(127, 29, 29, var(--bg-opacity));
}

.text-yellow-less {
  --bg-opacity: 1;
  color: rgba(255, 251, 235, var(--bg-opacity));
}

.text-yellow-1 {
  --bg-opacity: 1;
  color: rgba(254, 243, 199, var(--bg-opacity));
}

.text-yellow-2 {
  --bg-opacity: 1;
  color: rgba(253, 230, 138, var(--bg-opacity));
}

.text-yellow-3 {
  --bg-opacity: 1;
  color: rgba(252, 211, 77, var(--bg-opacity));
}

.text-yellow-4 {
  --bg-opacity: 1;
  color: rgba(251, 191, 36, var(--bg-opacity));
}

.text-yellow-5 {
  --bg-opacity: 1;
  color: rgba(245, 158, 11, var(--bg-opacity));
}

.text-yellow-6 {
  --bg-opacity: 1;
  color: rgba(217, 119, 6, var(--bg-opacity));
}

.text-yellow-7 {
  --bg-opacity: 1;
  color: rgba(180, 83, 9, var(--bg-opacity));
}

.text-yellow-8 {
  --bg-opacity: 1;
  color: rgba(146, 64, 14, var(--bg-opacity));
}

.text-yellow-9 {
  --bg-opacity: 1;
  color: rgba(120, 53, 15, var(--bg-opacity));
}

.text-green-less {
  --bg-opacity: 1;
  color: rgba(236, 253, 245, var(--bg-opacity));
}

.text-green-1 {
  --bg-opacity: 1;
  color: rgba(209, 250, 229, var(--bg-opacity));
}

.text-green-2 {
  --bg-opacity: 1;
  color: rgba(167, 243, 208, var(--bg-opacity));
}

.text-green-3 {
  --bg-opacity: 1;
  color: rgba(110, 231, 183, var(--bg-opacity));
}

.text-green-4 {
  --bg-opacity: 1;
  color: rgba(52, 211, 153, var(--bg-opacity));
}

.text-green-5 {
  --bg-opacity: 1;
  color: rgba(16, 185, 129, var(--bg-opacity));
}

.text-green-6 {
  --bg-opacity: 1;
  color: rgba(5, 150, 105, var(--bg-opacity));
}

.text-green-7 {
  --bg-opacity: 1;
  color: rgba(4, 120, 87, var(--bg-opacity));
}

.text-green-8 {
  --bg-opacity: 1;
  color: rgba(6, 95, 70, var(--bg-opacity));
}

.text-green-9 {
  --bg-opacity: 1;
  color: rgba(6, 78, 59, var(--bg-opacity));
}

.text-blue-less {
  --bg-opacity: 1;
  color: rgba(239, 246, 255, var(--bg-opacity));
}

.text-blue-1 {
  --bg-opacity: 1;
  color: rgba(219, 234, 254, var(--bg-opacity));
}

.text-blue-2 {
  --bg-opacity: 1;
  color: rgba(191, 219, 254, var(--bg-opacity));
}

.text-blue-3 {
  --bg-opacity: 1;
  color: rgba(147, 197, 253, var(--bg-opacity));
}

.text-blue-4 {
  --bg-opacity: 1;
  color: rgba(96, 165, 250, var(--bg-opacity));
}

.text-blue-5 {
  --bg-opacity: 1;
  color: rgba(59, 130, 246, var(--bg-opacity));
}

.text-blue-6 {
  --bg-opacity: 1;
  color: rgba(37, 99, 235, var(--bg-opacity));
}

.text-blue-7 {
  --bg-opacity: 1;
  color: rgba(29, 78, 216, var(--bg-opacity));
}

.text-blue-8 {
  --bg-opacity: 1;
  color: rgba(30, 64, 175, var(--bg-opacity));
}

.text-blue-9 {
  --bg-opacity: 1;
  color: rgba(30, 58, 138, var(--bg-opacity));
}

.text-indigo-less {
  --bg-opacity: 1;
  color: rgba(238, 242, 255, var(--bg-opacity));
}

.text-indigo-1 {
  --bg-opacity: 1;
  color: rgba(224, 231, 255, var(--bg-opacity));
}

.text-indigo-2 {
  --bg-opacity: 1;
  color: rgba(199, 210, 254, var(--bg-opacity));
}

.text-indigo-3 {
  --bg-opacity: 1;
  color: rgba(165, 180, 252, var(--bg-opacity));
}

.text-indigo-4 {
  --bg-opacity: 1;
  color: rgba(129, 140, 248, var(--bg-opacity));
}

.text-indigo-5 {
  --bg-opacity: 1;
  color: rgba(99, 102, 241, var(--bg-opacity));
}

.text-indigo-6 {
  --bg-opacity: 1;
  color: rgba(79, 70, 229, var(--bg-opacity));
}

.text-indigo-7 {
  --bg-opacity: 1;
  color: rgba(67, 56, 202, var(--bg-opacity));
}

.text-indigo-8 {
  --bg-opacity: 1;
  color: rgba(55, 48, 163, var(--bg-opacity));
}

.text-indigo-9 {
  --bg-opacity: 1;
  color: rgba(49, 46, 129, var(--bg-opacity));
}

.text-purple-less {
  --bg-opacity: 1;
  color: rgba(245, 243, 255, var(--bg-opacity));
}

.text-purple-1 {
  --bg-opacity: 1;
  color: rgba(237, 233, 254, var(--bg-opacity));
}

.text-purple-2 {
  --bg-opacity: 1;
  color: rgba(221, 214, 254, var(--bg-opacity));
}

.text-purple-3 {
  --bg-opacity: 1;
  color: rgba(196, 181, 253, var(--bg-opacity));
}

.text-purple-4 {
  --bg-opacity: 1;
  color: rgba(167, 139, 250, var(--bg-opacity));
}

.text-purple-5 {
  --bg-opacity: 1;
  color: rgba(139, 92, 246, var(--bg-opacity));
}

.text-purple-6 {
  --bg-opacity: 1;
  color: rgba(124, 58, 237, var(--bg-opacity));
}

.text-purple-7 {
  --bg-opacity: 1;
  color: rgba(109, 40, 217, var(--bg-opacity));
}

.text-purple-8 {
  --bg-opacity: 1;
  color: rgba(91, 33, 182, var(--bg-opacity));
}

.text-purple-9 {
  --bg-opacity: 1;
  color: rgba(76, 29, 149, var(--bg-opacity));
}

.text-pink-less {
  --bg-opacity: 1;
  color: rgba(253, 242, 248, var(--bg-opacity));
}

.text-pink-1 {
  --bg-opacity: 1;
  color: rgba(252, 231, 243, var(--bg-opacity));
}

.text-pink-2 {
  --bg-opacity: 1;
  color: rgba(251, 207, 232, var(--bg-opacity));
}

.text-pink-3 {
  --bg-opacity: 1;
  color: rgba(249, 168, 212, var(--bg-opacity));
}

.text-pink-4 {
  --bg-opacity: 1;
  color: rgba(244, 114, 182, var(--bg-opacity));
}

.text-pink-5 {
  --bg-opacity: 1;
  color: rgba(236, 72, 153, var(--bg-opacity));
}

.text-pink-6 {
  --bg-opacity: 1;
  color: rgba(219, 39, 119, var(--bg-opacity));
}

.text-pink-7 {
  --bg-opacity: 1;
  color: rgba(190, 24, 93, var(--bg-opacity));
}

.text-pink-8 {
  --bg-opacity: 1;
  color: rgba(157, 23, 77, var(--bg-opacity));
}

.text-pink-9 {
  --bg-opacity: 1;
  color: rgba(131, 24, 67, var(--bg-opacity));
}

/**
* Background colors are used for the background of the elements.
* @author Thomas Cardon
*/
.bg-transparent {
  background-color: transparent;
}

.bg-current {
  background-color: currentColor;
}

.bg-black {
  --bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--bg-opacity));
}

.bg-white {
  --bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
}

.bg-gray-less {
  --bg-opacity: 1;
  background-color: rgba(249, 250, 251, var(--bg-opacity));
}

.bg-gray-1 {
  --bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--bg-opacity));
}

.bg-gray-2 {
  --bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--bg-opacity));
}

.bg-gray-3 {
  --bg-opacity: 1;
  background-color: rgba(209, 213, 219, var(--bg-opacity));
}

.bg-gray-4 {
  --bg-opacity: 1;
  background-color: rgba(156, 163, 175, var(--bg-opacity));
}

.bg-gray-5 {
  --bg-opacity: 1;
  background-color: rgba(107, 114, 128, var(--bg-opacity));
}

.bg-gray-6 {
  --bg-opacity: 1;
  background-color: rgba(75, 85, 99, var(--bg-opacity));
}

.bg-gray-7 {
  --bg-opacity: 1;
  background-color: rgba(55, 65, 81, var(--bg-opacity));
}

.bg-gray-8 {
  --bg-opacity: 1;
  background-color: rgba(31, 41, 55, var(--bg-opacity));
}

.bg-gray-9 {
  --bg-opacity: 1;
  background-color: rgba(17, 24, 39, var(--bg-opacity));
}

.bg-red-less {
  --bg-opacity: 1;
  background-color: rgba(254, 242, 242, var(--bg-opacity));
}

.bg-red-1 {
  --bg-opacity: 1;
  background-color: rgba(254, 226, 226, var(--bg-opacity));
}

.bg-red-2 {
  --bg-opacity: 1;
  background-color: rgba(254, 202, 202, var(--bg-opacity));
}

.bg-red-3 {
  --bg-opacity: 1;
  background-color: rgba(252, 165, 165, var(--bg-opacity));
}

.bg-red-4 {
  --bg-opacity: 1;
  background-color: rgba(248, 113, 113, var(--bg-opacity));
}

.bg-red-5 {
  --bg-opacity: 1;
  background-color: rgba(239, 68, 68, var(--bg-opacity));
}

.bg-red-6 {
  --bg-opacity: 1;
  background-color: rgba(220, 38, 38, var(--bg-opacity));
}

.bg-red-7 {
  --bg-opacity: 1;
  background-color: rgba(185, 28, 28, var(--bg-opacity));
}

.bg-red-8 {
  --bg-opacity: 1;
  background-color: rgba(153, 27, 27, var(--bg-opacity));
}

.bg-red-9 {
  --bg-opacity: 1;
  background-color: rgba(127, 29, 29, var(--bg-opacity));
}

.bg-yellow-less {
  --bg-opacity: 1;
  background-color: rgba(255, 251, 235, var(--bg-opacity));
}

.bg-yellow-1 {
  --bg-opacity: 1;
  background-color: rgba(254, 243, 199, var(--bg-opacity));
}

.bg-yellow-2 {
  --bg-opacity: 1;
  background-color: rgba(253, 230, 138, var(--bg-opacity));
}

.bg-yellow-3 {
  --bg-opacity: 1;
  background-color: rgba(252, 211, 77, var(--bg-opacity));
}

.bg-yellow-4 {
  --bg-opacity: 1;
  background-color: rgba(251, 191, 36, var(--bg-opacity));
}

.bg-yellow-5 {
  --bg-opacity: 1;
  background-color: rgba(245, 158, 11, var(--bg-opacity));
}

.bg-yellow-6 {
  --bg-opacity: 1;
  background-color: rgba(217, 119, 6, var(--bg-opacity));
}

.bg-yellow-7 {
  --bg-opacity: 1;
  background-color: rgba(180, 83, 9, var(--bg-opacity));
}

.bg-yellow-8 {
  --bg-opacity: 1;
  background-color: rgba(146, 64, 14, var(--bg-opacity));
}

.bg-yellow-9 {
  --bg-opacity: 1;
  background-color: rgba(120, 53, 15, var(--bg-opacity));
}

.bg-green-less {
  --bg-opacity: 1;
  background-color: rgba(236, 253, 245, var(--bg-opacity));
}

.bg-green-1 {
  --bg-opacity: 1;
  background-color: rgba(209, 250, 229, var(--bg-opacity));
}

.bg-green-2 {
  --bg-opacity: 1;
  background-color: rgba(167, 243, 208, var(--bg-opacity));
}

.bg-green-3 {
  --bg-opacity: 1;
  background-color: rgba(110, 231, 183, var(--bg-opacity));
}

.bg-green-4 {
  --bg-opacity: 1;
  background-color: rgba(52, 211, 153, var(--bg-opacity));
}

.bg-green-5 {
  --bg-opacity: 1;
  background-color: rgba(16, 185, 129, var(--bg-opacity));
}

.bg-green-6 {
  --bg-opacity: 1;
  background-color: rgba(5, 150, 105, var(--bg-opacity));
}

.bg-green-7 {
  --bg-opacity: 1;
  background-color: rgba(4, 120, 87, var(--bg-opacity));
}

.bg-green-8 {
  --bg-opacity: 1;
  background-color: rgba(6, 95, 70, var(--bg-opacity));
}

.bg-green-9 {
  --bg-opacity: 1;
  background-color: rgba(6, 78, 59, var(--bg-opacity));
}

.bg-blue-less {
  --bg-opacity: 1;
  background-color: rgba(239, 246, 255, var(--bg-opacity));
}

.bg-blue-1 {
  --bg-opacity: 1;
  background-color: rgba(219, 234, 254, var(--bg-opacity));
}

.bg-blue-2 {
  --bg-opacity: 1;
  background-color: rgba(191, 219, 254, var(--bg-opacity));
}

.bg-blue-3 {
  --bg-opacity: 1;
  background-color: rgba(147, 197, 253, var(--bg-opacity));
}

.bg-blue-4 {
  --bg-opacity: 1;
  background-color: rgba(96, 165, 250, var(--bg-opacity));
}

.bg-blue-5 {
  --bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--bg-opacity));
}

.bg-blue-6 {
  --bg-opacity: 1;
  background-color: rgba(37, 99, 235, var(--bg-opacity));
}

.bg-blue-7 {
  --bg-opacity: 1;
  background-color: rgba(29, 78, 216, var(--bg-opacity));
}

.bg-blue-8 {
  --bg-opacity: 1;
  background-color: rgba(30, 64, 175, var(--bg-opacity));
}

.bg-blue-9 {
  --bg-opacity: 1;
  background-color: rgba(30, 58, 138, var(--bg-opacity));
}

.bg-indigo-less {
  --bg-opacity: 1;
  background-color: rgba(238, 242, 255, var(--bg-opacity));
}

.bg-indigo-1 {
  --bg-opacity: 1;
  background-color: rgba(224, 231, 255, var(--bg-opacity));
}

.bg-indigo-2 {
  --bg-opacity: 1;
  background-color: rgba(199, 210, 254, var(--bg-opacity));
}

.bg-indigo-3 {
  --bg-opacity: 1;
  background-color: rgba(165, 180, 252, var(--bg-opacity));
}

.bg-indigo-4 {
  --bg-opacity: 1;
  background-color: rgba(129, 140, 248, var(--bg-opacity));
}

.bg-indigo-5 {
  --bg-opacity: 1;
  background-color: rgba(99, 102, 241, var(--bg-opacity));
}

.bg-indigo-6 {
  --bg-opacity: 1;
  background-color: rgba(79, 70, 229, var(--bg-opacity));
}

.bg-indigo-7 {
  --bg-opacity: 1;
  background-color: rgba(67, 56, 202, var(--bg-opacity));
}

.bg-indigo-8 {
  --bg-opacity: 1;
  background-color: rgba(55, 48, 163, var(--bg-opacity));
}

.bg-indigo-9 {
  --bg-opacity: 1;
  background-color: rgba(49, 46, 129, var(--bg-opacity));
}

.bg-purple-less {
  --bg-opacity: 1;
  background-color: rgba(245, 243, 255, var(--bg-opacity));
}

.bg-purple-1 {
  --bg-opacity: 1;
  background-color: rgba(237, 233, 254, var(--bg-opacity));
}

.bg-purple-2 {
  --bg-opacity: 1;
  background-color: rgba(221, 214, 254, var(--bg-opacity));
}

.bg-purple-3 {
  --bg-opacity: 1;
  background-color: rgba(196, 181, 253, var(--bg-opacity));
}

.bg-purple-4 {
  --bg-opacity: 1;
  background-color: rgba(167, 139, 250, var(--bg-opacity));
}

.bg-purple-5 {
  --bg-opacity: 1;
  background-color: rgba(139, 92, 246, var(--bg-opacity));
}

.bg-purple-6 {
  --bg-opacity: 1;
  background-color: rgba(124, 58, 237, var(--bg-opacity));
}

.bg-purple-7 {
  --bg-opacity: 1;
  background-color: rgba(109, 40, 217, var(--bg-opacity));
}

.bg-purple-8 {
  --bg-opacity: 1;
  background-color: rgba(91, 33, 182, var(--bg-opacity));
}

.bg-purple-9 {
  --bg-opacity: 1;
  background-color: rgba(76, 29, 149, var(--bg-opacity));
}

.bg-pink-less {
  --bg-opacity: 1;
  background-color: rgba(253, 242, 248, var(--bg-opacity));
}

.bg-pink-1 {
  --bg-opacity: 1;
  background-color: rgba(252, 231, 243, var(--bg-opacity));
}

.bg-pink-2 {
  --bg-opacity: 1;
  background-color: rgba(251, 207, 232, var(--bg-opacity));
}

.bg-pink-3 {
  --bg-opacity: 1;
  background-color: rgba(249, 168, 212, var(--bg-opacity));
}

.bg-pink-4 {
  --bg-opacity: 1;
  background-color: rgba(244, 114, 182, var(--bg-opacity));
}

.bg-pink-5 {
  --bg-opacity: 1;
  background-color: rgba(236, 72, 153, var(--bg-opacity));
}

.bg-pink-6 {
  --bg-opacity: 1;
  background-color: rgba(219, 39, 119, var(--bg-opacity));
}

.bg-pink-7 {
  --bg-opacity: 1;
  background-color: rgba(190, 24, 93, var(--bg-opacity));
}

.bg-pink-8 {
  --bg-opacity: 1;
  background-color: rgba(157, 23, 77, var(--bg-opacity));
}

.bg-pink-9 {
  --bg-opacity: 1;
  background-color: rgba(131, 24, 67, var(--bg-opacity));
}